{% extends "base.html" %}

{% block content %}

<div class="content">
    <div id="content-form-player">



        <div id="left-sidebar">

             <div class="section"><h2><strong>{{ user.username }}</strong></h2></div>
                    <div class="profile">
                        <div class="profile-left">

                            <img class="profile-photo" width="170" height="170" alt="defUser.jpg" src="
                            {% if info_about_player.photo %}
                                {{ MEDIA_URL }}{{ info_about_player.photo }}
                            {% else %}
                                {{ MEDIA_URL }}templates_img/user.png
                            {% endif %}">
                        </div>
                        <div class="profile-right">


                            <div class="profil_udaje">

                                <h2 class="nickname">Základné údaje</h2>
                                <br />
                                <div  class="info-left">Vek :</div><div class="info-right"> {{ age }}</div>
                                <div  class="info-left">Pohlavie :</div><div class="info-right"> {{ info_about_player.gender }}</div>
                                <div  class="info-left">Kraj :</div><div class="info-right"> {{ info_about_player.countryPart }}</div>
                                <div  class="info-left">Email :</div><div class="info-right"> {{ user.email }}</div>
                                <div  class="info-left">Registrovaný :</div><div class="info-right">{{ user.date_joined }}</div>
                                <div  class="info-left">Naposledy prihlásený :</div><div class="info-right">{{ user.last_login }}</div>

                                <div  class="info-left">
                                    <img style="padding-bottom: 3px; padding-left: 3px" width="17" height="16" alt="rankStar.jpg" src="{{ MEDIA_URL }}templates_img/star.gif">
                                    &nbsp;Hodnotenie užívateľa :</div>
                                <div class="info-right">{{ info_about_player.rank }}</div>
                            </div>

                        {% if user.first_name or user.last_name or info_about_player.city or  info_about_player.street or info_about_player.phone   %}
                            <br /> <br />


                            <div class="profil_udaje">
                            <div  class="medzera"><h2 class="nickname"></h2></div>
                            <div  class="medzera"><h2 class="nickname">Osobné údaje</h2></div>

                             {% if user.first_name or user.last_name %}    <div  class="info-left">Meno a priezvisko :</div><div class="info-right"> {{ user.first_name }} {{ user.last_name }}</div>{% endif %}
                             {% if info_about_player.city  %}    <div  class="info-left">Mesto :</div><div class="info-right"> {{ info_about_player.city }}</div>{% endif %}
                             {% if info_about_player.street %}    <div  class="info-left">Adresa :</div><div class="info-right"> {{ info_about_player.street }}</div>{% endif %}
                             {% if info_about_player.phone %}    <div  class="info-left">Mobil :</div><div class="info-right"> {{ info_about_player.phone }}</div>{% endif %}

                            </div>
                        {% endif %}
                        </div>




                    {% if info_about_player.about_me %}
                        <div class="profile-right">


                            <div class="profil_udaje">

                                <h2 class="nickname">O mne</h2>
                                <br />

                                <span>
                                    {{ info_about_player.about_me }}
                                </span>


                            </div>

                        </div>
                    {% endif %}










                    </div>

        </div>


        <div id="right-sidebar">
           {% include "players/right-sidebar.html" %}
        </div>




    </div>
</div>
{% endblock %}