<div class="well" xmlns="http://www.w3.org/1999/html">

                    <form class="bs-example form-horizontal" action="." method="POST">

                    <fieldset>
                            <legend>Osobné údaje používateľa <strong>{{ user.username }}</strong></legend>
                                    {% csrf_token %}


                                    {% for f in form %}

                                          <label class="col-lg-2 control-label" for="id_{{ f.id }}">{{ f.label }} {% if f.field.required %}*{% endif %} :</label>

                                          <div class="col-lg-10">

                                                {{ f }}


                                          </div>

                                    {% endfor %}
                    </fieldset>

                    <input id="submit-edit-user" class="btn btn-primary" type="submit" value="Uložiť" >
                    </form>





            </div>