{% extends "base.html" %}
{% block content %}

    <div class="content">

    <div id="content-form-player">

        <div id="left-sidebar">

            <div class="section"><h2>Prihlásenie používateľa</h2></div>
            {% if messages.request.path == '/accounts/login/fail' %}
            <div class="com_error">Nesprávne vyplnené údaje!</div>
            {% else %}<br /><br />
            {% endif %}
            <div class="login_form">

            <form class="crud_form" method="post" action="/accounts/login/fail" name="login">

                  {% csrf_token %}

                <center>
                    <table width="200" cellspacing="0" cellpadding="3" border="0" align="center">
                      <tbody><tr>


                        <td><label class="col-lg-2 control-label" for="username">Login:</label></td>
                        <td><div class="col-lg-10"><input id="inputEmail" class="form-control" type="text" name="username"></div></td>
                      </tr>
                      <tr>
                        <td><label class="col-lg-2 control-label" for="password">Heslo:</label></td>
                        <td><div class="col-lg-10"><input id="inputEmail" class="form-control" type="password" name="password"></div></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><input class="subBut2" type="submit" value="Prihlásiť" name="prihlas"> <input type="hidden" name="next" value="/homepage"></td>
                      </tr>
                       <tr>
                        <td>&nbsp;</td>
                        <td><a href="/accounts/zabudnute_heslo">Zabudli ste heslo?</a></td>

                      </tr>
                      <tr>
                        <td>&nbsp;</td>

                        <td style="padding-left: 20px;"><a href="/accounts/registration/">Registrácia</a></td>

                      </tr>
                    </tbody></table>
                </center>
            </form>

        </div>

        <div id="right-sidebar">

        </div>

        </div>
    </div>
</div>

{% endblock %}