{% extends "base.html" %}

{% block content %}

<div class="content">
    <div id="content-form-player">
        <div id="left-sidebar">
            {% if saved %}
                <div class="inform-panel">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h3 class="panel-title">Ukladanie údajov prebehlo úspešne !</h3>
                      </div>
                      <div class="panel-body">
                          <img src="{{ MEDIA_URL }}templates_img/ok.png" alt="ok_logo" height="100" width="100"/>
                          <div id="mainpage-buttons-success">
                              <input id="mainpage-button"class="btn btn-default" name="prihlas" value="Hlavná stránka" type="button" onclick="window.location='/./';" >
                              <input id="return-button" class="btn btn-default" name="prihlas" value="Návrat" type="button" onclick="window.location='.';" >
                          </div>
                    </div>
                </div>
                </div>
            {% else %}
                {% if errors2 %}



                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chyba pri vyplňovaní formulára !</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ MEDIA_URL }}templates_img/fail.png" alt="ok_logo" height="100" width="100"/>

                        {% for k in errors2  %}
                             <div class="error_box">
                                <div class="error_label_box">{{ k.Pole }}</div>
                                <div class="error_content_box" type="button"><p>{{ k.Popis }}</p></div>
                            </div>
                        {% endfor %}

                    </div>
                 </div>

                {% endif %}
                <div class="section"><h2>Editácia registračných údajov</h2></div>
                {% include "players/form.html" %}
            {% endif %}
        </div>
        <div id="right-sidebar">
           {% include "players/right-sidebar.html" %}
        </div>



        </div>
    </div>
</div>
{% endblock %}