
<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">


                <li>
                    <a href="/homepage">DOMOV</a>
                </li>
    {% if not reg %}
                <li>
                    <a href="/homepage">O MNE</a>
                </li>
                <li>
                    <a href="/accounts/profile/">ZMENA REG. ÚDAJOV</a>
                </li>
                <li>
                    <a href="/homepage">ZMENA PROFIL. FOTKY</a>
                </li>
                <li>
                    <a href="/homepage">ZMENA HESLA</a>
                </li>
    {% endif %}
</ul>