
<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">


                <li>
                    <a href="/homepage">DOMOV</a>
                </li>
    {% if not reg or general %}
                <li>
                    <a href="/accounts/aboutMe/">O MNE</a>
                </li>
                <li>
                    <a href="/accounts/profile/">ZMENA REG. ÚDAJOV</a>
                </li>
                <li>
                    <a href="/accounts/changephoto">ZMENA PROFIL. FOTKY</a>
                </li>
                <li>
                    <a href="/accounts/changepass/">ZMENA HESLA</a>
                </li>
                <li>
                    <a href="/teams/myTeam/">MÔJ TÍM</a>
                </li>
    {% endif %}
</ul>