<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}layout.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>


</head>
<body>
<div id="header">
    <img src="{{ MEDIA_URL }}templates_img/logo.png" alt="logo"/>
    <ul>
        <li id="home"><a href="#">ÚVOD</a></li>
        <li><a href="#">NÁJDI TÍM</a></li>
        <li><a href="#">NÁJDI IHRISKO</a></li>
        <li><a href="#">TÍMY</a></li>
        <li><a href="#">ČLÁNKY</a></li>
        <li><a href="#">FAQ</a></li>
        <li id="login">LOGIN</li>

    </ul>
    <div class="clear"></div>
</div>



{% block content %}
{% endblock %}


<div id="footer">

    <table>
        <tr>
            <td>
                <ul>
                    <li>O nás</li>
                    <li>Všeobecné podmienky</li>
                    <li>Reklama</li>
                    <li>Kontakt</li>
                </ul>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

</body>
</html>

