<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/eggplant/jquery-ui-1.10.3.custom.css" rel="stylesheet">
	<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>

    	<script>
	$( document ).ready(function() {
		$( "#button" ).button();
		$( "#dialog" ).dialog({
                                                    position: ['center',100] ,
                                                    height: 230,
                                                    width: 400,
                                                    modal: true,
                                                    autoOpen: false,
                                             show: {
                                                    effect: "fade",
                                                    duration: 1000
                                                    },
                                             hide: {
                                                    effect: "fade",
                                                    duration: 1000
                                             }
		});
		// Link to open the dialog
		$( "#dialog-link" ).click(function( event ) {
			$( "#dialog" ).dialog( "open" );
			event.preventDefault();
		});

        $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd'});
        //get
        var p = $("#login");
        var offset = p.offset();
        var isFirefox = typeof InstallTrigger !== 'undefined';
        //set
        if (!isFirefox) {
        $("#register").offset({ left: offset.left});
        $("#logout").offset({ left: offset.left});
        }
	});
	</script>
</head>
<body>
<div id="header">
    <a href="/"><img src="{{ MEDIA_URL }}templates_img/logo.png" alt="logo"/></a>
    <ul>
        <li id="home"><a href="/">ÚVOD</a></li>
        <li><a href="#">NÁJDI TÍM</a></li>
        <li><a href="/grounds/">NÁJDI IHRISKO</a></li>
        <li><a href="#">TÍMY</a></li>
        <li><a href="#">ČLÁNKY</a></li>
        <li><a href="#">FAQ</a></li>
    {% if user.is_authenticated %}
        <li id="logout"><a id="logout-link" href="/accounts/logout/">ODHLÁSIŤ</a></li>
    {% else %}
        <li id="login"><a id="dialog-link" href="#">LOGIN</a></li>
    {% endif %}

    </ul>

    {% if user.is_authenticated %}
        <p id="login_as">PRIHLÁSENÝ AKO:  <a href="/accounts/aboutMe/"><STRONG>{{ user.username }}</STRONG></a></p>
    {% endif %}
    <div class="clearfix"></div>
</div>
<div id="dialog" title="Prihlásenie">
<form class="crud_form" method="post" action="/accounts/login/fail" name="login">
      {% csrf_token %}
       <div class="center">
       <table border="0" cellpadding="0" cellspacing="0" width="350" height="100">
          <tbody id="login_center"><tr>
            <td align="right"><strong>Meno:</strong></td>
            <td><input class="login_input" name="username" size="15" type="text"  value="">&nbsp;</td>
          </tr>
          <tr>
            <td align="right"><strong>Heslo:</strong></td>
            <td><input class="login_input" name="password" size="15" type="password"  value="">&nbsp;</td>
          </tr>
        </tbody></table>
           </br>
           <input class="subBut" name="prihlas" value="Prihlásiť" type="submit">&nbsp;<input type="hidden" name="next" value="/homepage">
           <input class="subBut" name="prihlas" value="Registrácia" type="button" onclick="window.location='/accounts/registration/';">
        </div>

</form>

</div>



{% block content %}
{% endblock %}


<div id="footer">

    <table>
        <tr>
            <td>
                <ul>
                    <li>O nás</li>
                    <li>Všeobecné podmienky</li>
                    <li>Reklama</li>
                    <li>Kontakt</li>
                </ul>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

</body>
</html>

