{% extends "base.html" %}

{% block content %}


    <script>
     $( document ).ready(function() {
    $('#ground_latest').click( function() {
            $.ajax({
                url: "/grounds/",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    operation: "Newest"
                },
                success: function(data) {
                    $(".content").html(data);
                },
                error: function(data) {
                    alert ("Error");
                    console.log(data);
                }
            });
            return false;
        });
        $('#ground_top_rated').click( function() {
            $.ajax({
                url: "/grounds/",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    operation: "Rate"
                },
                success: function(data) {
                    $(".content").html(data);
                },
                error: function() {
                    alert ("Error");
                }
            });
            return false;
        });
        $('#alphanum').click( function() {
            $.ajax({
                url: "/grounds/",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    operation: "Alphabet"
                },
                success: function(data) {
                    $(".content").html(data);
                },
                error: function() {
                    alert ("Error");
                }
            });
            return false;
        });
    });
    </script>

    <div class="head">
        {% include "grounds/groundsMap.html" %}
    <div class="clearfix"></div>
    </div>

    <div class="left_filter">
        <p>Zoradiť podľa</p>
        <ul>
            <li id="ground_latest">Dátum pridania</li>
            <li id="ground_top_rated">Hodnotenie</li>
            <li id="alphanum">Abecedne</li>
        </ul>
    </div>



    <div class="content">
    {% include "grounds/groundList.html" %}
    </div>
{% endblock %}