{% extends "base.html" %}

{% block content %}

    <div class="head">
        {% include "grounds/groundsMap.html" %}
    </div>

    <div class="content">
        <ul id="ground_list">
            <h2>Zoznam ihrísk</h2>
        {% if user.is_authenticated %}
                  <a href="/grounds/add/">  <button class="btn btn-warning" type="button">Pridaj ihrisko</button></a>
                {% endif %}
            {% for ground in grounds %}
                <li><h3><a href="/grounds/{{ ground.id }}"> {{ ground.name }} </a></h3>




                    <a href="/grounds/{{ ground.id }}">
                        {% load thumbnail %}
                        {% thumbnail ground.photo "180x120" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                        {% endthumbnail %}
                        <div class="ground_list_desc">{{ ground.description }}</div>
                    </a>

                </li>

            {% endfor %}
        </ul>
    </div>
{% endblock %}