{% extends "base.html" %}

{% block content %}
    {% if team %}
        <ul><h1>{{ team.name }}</h1>
        <li><b>O tíme - </b>{{ team.description }}</li>
        <li><b>SPrávca/Vytvoril - </b>{{ team.leader }}</li>
        <li><b>Registrácia tímu - </b>{{ team.reg_date }}</li>
        <li><b>Počet hráčov - </b>{{ team.counts_of_players }}</li>
        </ul>

        <ul><h1>Členovia tímu</h1>

        <li> <img src="{{ MEDIA_URL }}{{ team.leader.photo }}" alt="{{ MEDIA_URL }}{{ team.leader.photo }}"  width="50" height="50" >
            <b>Meno</b> - <a href="/player/{{ team.leader.user.id }}/">{{ team.leader.user.username }}</a> -
            <b>Registrovaný</b> - {{ team.leader.user.date_joined }} -
            <b>Administrátor</b> </li>

        {% if players %}
        {% for player in players %}

            <li>
            <img src="{{ MEDIA_URL }}{{ player.photo }}" alt="{{ MEDIA_URL }}{{ player.photo }}" width="50" height="50">
                <b>Meno</b> - <a href="/player/{{ player.user.id }}/">{{ player.user.username }}</a> -
                <b>Registrovaný</b> - {{ player.user.date_joined }}
            </li>

        {% endfor %}
        {% endif %}
        </ul>

        <h1> Novinky, Clanky a neviem este co</h1>
        {% for feed in new_feeds %}

            <p>{{ feed.title }}</p>
            <p>{{ feed.content }}</p>
            <p>{{ feed.publish_date }}</p>
            <p><img src="{{ MEDIA_URL }}{{ feed.title_image }}" alt="{{ MEDIA_URL }}{{ feed.title_image }}" width="50" height="50" ></p>

        {% endfor %}

        <h1> Galeria timu </h1>

         {% for gal in GalleryTeam %}

             <img src="{{ MEDIA_URL }}{{ gal.image }}" alt="{{ MEDIA_URL }}{{ gal.image }}" width="50" height="50">
        {% endfor %}

    {% else %}

        <p>This team non exist !</p>

    {% endif %}
{% endblock %}
