{% extends "base.html" %}

{% block content %}
<div class="ed_topPartTeam"
{% if team.big_logo %}style="background-image: url('{{ MEDIA_URL }}{{ team.big_logo }}')"
{% else %}
     style="background-image: url('{{ MEDIA_URL }}templates_img/def-team-detail-logo.jpg')">{% endif %}
<div class="ed_topPartTeam">
	<div class="ed_topOverlayTeam">
		<div id="ed_overlay1Team"></div>
		<div id="ed_overlay2Team">{{ team.name }} </div>
		<div id="ed_overlay3Team">Aktívny od  {{ team.reg_date|date:"F Y"}} </div>
        <div id="ed_overlay3Team">Počet členov: {{ team.counts_of_players}}</div>
    </div>
</div>

</div>
<div class="content">
<div id="left-sidebar"></div>
<div id="right-sidebar"></div>
</div>
































{% endblock %}
