{% extends "base.html" %}

{% block content %}
<div class="ed_topPartTeam"
{% if team.big_logo %}style="background-image: url('{{ MEDIA_URL }}{{ team.big_logo }}')"
{% else %}
     style="background-image: url('{{ MEDIA_URL }}templates_img/def-team-detail-logo.jpg')">{% endif %}
<div class="ed_topPartTeam">
	<div class="ed_topOverlayTeam">
		<div id="ed_overlay1Team"></div>
		<div id="ed_overlay2Team">{{ team.name }} </div>
		<div id="ed_overlay3Team">Aktívny od  {{ team.reg_date|date:"F Y"}} </div>
        <div id="ed_overlay3Team">Počet členov: {{ team.counts_of_players}}</div>
    </div>
</div>

</div>
<div class="content210">
<div id="left-sidebar2">
<div class="teamsection">
    <h2 class="teamsdetailh2">
        O tíme
    </h2>

    <div class="teamsDescDetailLeft">

                                 <img width="150" height="150" alt="defUser.jpg" src="
                                    {% if team.team_logo  %}
                                        {{ MEDIA_URL }}{{ team.team_logo }}
                                    {% else %}
                                        {{ MEDIA_URL }}templates_img/default_team_logo.png
                                 {% endif %}">
    </div>
    <div class="teamsDescDetailRight">

                                {{ team.description }}

    </div>
</div>
<div class="teamsection">

    <h2 class="teamsdetailh2">
        Vyberáme z galérie
    </h2>
    <div class="teamsGallery">
                {% for im in GalleryTeam %}
                    {% if im.image %}
             <a href="{{ MEDIA_URL }}{{ im.image }}"><img class="galleryImg" width="200" height="150" alt="defUser.jpg" src="{{ MEDIA_URL }}{{ im.image }}"></a>
                    {% else %}
             <img class="galleryImg" width="200" height="150" alt="defUser.jpg" src="{{ MEDIA_URL }}templates_img/def_article.jpg">

                    {% endif %}
                {% endfor %}
    </div>
</div>

    <h2 class="teamsdetailh2">
        Z nášho blogu
    </h2>
 {% for news in new_feeds %}
    <div class="newsGallery">
        <a href="{{ MEDIA_URL }}{{  news.title_image  }}"><img class="newsImg" width="140" height="140" alt="defUser.jpg" src="{{ MEDIA_URL }}{{ news.title_image }}"></a>
        <div class="newsContent"><div class="boldNews">{{ news.title }}</div><br /><p>{{ news.content | truncatechars:200}}</p></div>
        <div class="newsContent"><div class="dateNews">Publikované: {{ news.publish_date|date:"d.m.Y"  }}</div><a class="readMoreButton" type="button" href='/teams/news/{{ news.pk }}/'>read more</a></div>

     </div>


{% endfor %}
</div>


<div id="right-sidebar2">
                        <div style="padding-bottom: 30px">
                        <center>
                            {% if thisteamadmin %}

                                 <input class="btn btn-primary" type="button" value="Editácia tímu"  onclick="window.location='/teams/{{ team.pk }}/editBasicInfo/';" >

                            {% elif isMember %}
                                 <input class="btn btn-primary" type="button" value="Ukončiť členstvo" onclick="window.location='/teams/{{ team.pk }}/cancelMembership/';" >
                            {% elif haveRequetInThisTeam %}
                                {% if playerRequest == True %}
                                    <strong> Prihláška bola odoslaná</strong>
                                    <form action="/teams/cancelRequest/" method="POST">
                                        {% csrf_token %}
                                        {% for f in deleteRequestToTeam %}
                                                   {{ f }}
                                        {% endfor %}
                                        <input class="btn btn-primary" type="submit" value="Zruš žiadosť" >
                                    </form>
                                {% elif playerRequest == False %}
                                    <strong> Prihláška bola zamietnuta administrátorom</strong>
                                    <form action="/teams/cancelRequest/" method="POST">
                                        {% csrf_token %}
                                        {% for f in deleteRequestToTeam %}
                                                   {{ f }}
                                        {% endfor %}
                                        <input class="btn btn-primary" type="submit" value="Odstráň prihlášku" >
                                    </form>
                                {% endif %}
                            {% elif not haveRequest and not teamadmin %}
                                    <form action="/teams/sendRequestForMembership/" method="POST">
                                        {% csrf_token %}
                                        {% for f in addRequestToTeam %}
                                                   {{ f }}
                                        {% endfor %}
                                        <input class="btn btn-primary" type="submit" value="Odoslať prihlášku" >
                                    </form>
                            {% endif %}
                        </center>
                        </div>


              <ul id="rightWindows" class="nav nav-tabs">
                <li class="non-active active" ><a class="detailTeamRef" data-toggle="tab" href="#zucastnimesa">&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}templates_img/users-one.png" width="30px" height="20px">  Zúčastnime sa&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li class="non-active"><a class="detailTeamRef"  data-toggle="tab" href="#absolvovalisme">&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}templates_img/users-all.png" width="30px" height="20px">  Absolvovali sme&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div id="zucastnimesa" class="tab-pane fade active in">

                    {% for event in futureEvents %}

                        <div class="ActionsTeamsNewOld">
                            <div class="imgActionTeamInvited">
                                {% if event.titleImage %}
                                <a href="{{ MEDIA_URL }}{{ event.titleImage }}"><img class="eventImgDetailTeam" width="60" height="60" alt="defUser.jpg" src="{{ MEDIA_URL }}{{ event.titleImage }}"></a>
                                {% else %}
                                <img class="eventImgDetailTeam" width="60" height="60" alt="defUser.jpg" src="{{ MEDIA_URL }}templates_img/def-event.jpg">
                                {% endif %}

                            <div class="textFieldsTeamActions">

                                <a class="detailTeamEventLink" href="/events/detail/{{ event.pk }}/"><strong>{{ event.title }}</strong></a>
                                <p style="padding-top: 3px">Dátum: {{ event.startOfAction|date:"d.m.Y" }}</p>
                                <p>Čas: {{ event.startOfAction|date:"H:i" }}</p>

                            </div>

                            </div>


                        </div>
                    {% endfor %}



                </div>
                <div id="absolvovalisme" class="tab-pane fade">
                    {% for event in lastEvents %}

                        <div class="ActionsTeamsNewOld">
                            <div class="imgActionTeamInvited">

                                {% if event.titleImage %}
                                <a href="{{ MEDIA_URL }}{{ event.titleImage }}"><img class="eventImgDetailTeam" width="60" height="60" alt="EventTitleImage.jpg" src="{{ MEDIA_URL }}{{ event.titleImage }}"></a>
                                {% else %}
                                <img class="eventImgDetailTeam" width="60" height="60" alt="defaultEvent.jpg" src="{{ MEDIA_URL }}templates_img/def-event.jpg">
                                {% endif %}
                            <div class="textFieldsTeamActions">

                                <a class="detailTeamEventLink" href="/events/detail/{{ event.pk }}/"><strong>{{ event.title }}</strong></a>
                                <p style="padding-top: 3px">Dátum: {{ event.startOfAction|date:"d.m.Y" }}</p>
                                <p>Čas: {{ event.startOfAction|date:"H:i" }}</p>
                            </div>



                            </div>



                        </div>
                    {% endfor %}
                </div>
              </div>




              <div class="tab-content" id="myTabContent2">

              <ul id="rightWindows2" class="nav nav-tabs">
                <li class="non-active active" ><a class="detailTeamRef" data-toggle="tab" href="#clenoviatimu">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}templates_img/team_icom.png" width="30px" height="30px">  Členovia tímu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

              </ul>
                <div id="clenoviatimu" class="tab-pane fade active in">

                     <div class="ActionsTeamsNewOld">
                            <div class="imgActionTeamInvited">
                                {% if team.leader.photo %}
                                <a href="{{ MEDIA_URL }}{{ team.leader.photo }}"><img class="eventImgDetailTeam" width="60" height="60" alt="{{ team.leader.photo }}" src="{{ MEDIA_URL }}{{ team.leader.photo }}"></a>
                                {% else %}
                                <img class="eventImgDetailTeam" width="60" height="60" alt="defUser.jpg" src="{{ MEDIA_URL }}templates_img/defUser.jpg">
                                {% endif %}

                            <div class="textFieldsTeamActions">

                                <a class="detailTeamEventLink"  href="/accounts/{{ team.leader.pk }}/"><strong>{{ team.leader.user.username }}</strong> - Administrátor</a>
                                <p style="padding-top: 3px">Registrovaný od: {{ team.leader.user.date_joined|date:"d.m.Y"  }}</p>
                                <p>Hodnotenie: {{ team.leader.rank }}</p>

                            </div>

                            </div>


                        </div>


                    {% for player in players %}

                        <div class="ActionsTeamsNewOld">
                            <div class="imgActionTeamInvited">
                                {% if player.photo %}
                                <a href="{{ MEDIA_URL }}{{ player.photo }}"><img class="eventImgDetailTeam" width="60" height="60" alt="{{ player.photo }}" src="{{ MEDIA_URL }}{{ player.photo }}"></a>
                                {% else %}
                                <img class="eventImgDetailTeam" width="60" height="60" alt="defUser.jpg" src="{{ MEDIA_URL }}templates_img/defUser.jpg">
                                {% endif %}

                            <div class="textFieldsTeamActions">

                                <a class="detailTeamEventLink"  href="/accounts/{{ player.pk }}/"><strong>{{ player.user.username }}</strong></a>
                                <p style="padding-top: 3px">Registrovaný od: {{ player.user.date_joined|date:"d.m.Y"  }}</p>
                                <p>Hodnotenie: {{ player.rank }}</p>

                            </div>

                            </div>


                        </div>
                    {% endfor %}



                </div>


                </div>
              </div>








</div>


</div>


</div>


































{% endblock %}
