<div class="well" xmlns="http://www.w3.org/1999/html">

                    <form class="bs-example form-horizontal" action="." method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

                    <fieldset>
                    <legend>
                    {% if new %}
                       Základné informácie
                    {% else %}
                       Základné informácie tímu <strong> {{ user.username }}</strong>
                    {% endif %}
                    </legend>

                                    {% csrf_token %}


                                    {% for f in form %}
                                        <div>
{% if f.name != 'last_name' %}
                                        {% if changePass and not changephoto%}
                                          <label class="col-lg-2-moj control-label" for="id_{{ f.id }}">
                                        {% else %}
                                          <label class="col-lg-2b-moj control-label" for="id_{{ f.id }}">
                                        {% endif %}

                                              {{ f.label }} {% if f.field.required %}*{% endif %} :</label>
{% endif %}
                                        {% if changePass and not changephoto  %}
                                          <div class="col-lg-10-moj">
                                        {% else %}
                                          <div class="col-lg-10b-moj">
                                        {% endif %}
                                                {{ f }}

                                          {% if f.label == 'Logo tímu' %}
                                            <span class="help-block">Použi logo o veľkosti približne 200x200x alebo 5x5cm ! </span>
                                          {% endif %}

                                          {% if f.label == 'Logo tímovej stránky' %}
                                            <span class="help-block">Použi obrázok o veľkosti približne 2000x300px alebo 53x8cm ! </span>
                                          {% endif %}

                                          </div>
                                    </div>
                                    {% endfor %}
                    </fieldset>

                    <input id="submit-edit-user" class="btn btn-primary" type="submit" value="Uložiť" >
                    </form>





            </div>