{% extends "base.html" %}
{% block content %}

    <div class="content">

    <div id="content-form-player">

        <div id="left-sidebar">

             {% if saved %}

                <div class="inform-panel">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h3 class="panel-title">Požiadavka bola úspešne spracovaná !</h3>
                      </div>
                      <div class="panel-body">
                          <img src="{{ MEDIA_URL }}templates_img/ok.png" alt="ok_logo" height="100" width="100"/>
                          <div id="mainpage-buttons-success">
                              {% if not delTeam %}
                              <input id="mainpage-button"class="btn btn-default" name="prihlas" value="Späť na tím" type="button" onclick="window.location='/teams/{{ team.pk }}/';" >
                              {% endif %}
                              <input id="mainpage-button"class="btn btn-default" name="prihlas" value="Domov" type="button" onclick="window.location='/homepage';" >

                          </div>
                    </div>
                </div>
                </div>

            {% elif fail %}

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nastala chyba pri odosielaní požiavky skúste to ešte raz !</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ MEDIA_URL }}templates_img/fail.png" alt="ok_logo" height="100" width="100"/>
                         <div id="mainpage-buttons-success">
                              <input id="mainpage-button"class="btn btn-default" name="prihlas" value="Späť na tím" type="button" onclick="window.location='/teams/{{  team.pk }}/';" >
                              <input id="mainpage-button"class="btn btn-default" name="prihlas" value="Domov" type="button" onclick="window.location='/homepage';" >
                         </div>
                    </div>
                 </div>

            {% else %}


                    <div class="section"><h2>
                        {% if delTeam %}
                        Zmazanie tímu
                        {% else %}
                        Zrušenie členstva v tíme
                        {% endif %}
                    </h2></div>

                    <div class="com_error">
                        {% if delTeam %}
                        Naozaj chceš zmazať svoj tím
                        {% else %}
                        Naozaj chceš zrušiť členstvo v tíme
                        {% endif %}

                         <strong>{{ team.name }}</strong> ?</div>

                    <div class="login_form">

                        <center>
                            <table width="500" cellspacing="0" cellpadding="3" border="0" align="center">
                              <tbody><tr>

                                        <td>
                                    <div class="teams-buttons">

                                    <form action="." method="POST">
                                        {% csrf_token %}

                                        {% if delTeam %}
                                        {% for f in form %}
                                                   {{ f }}
                                        {% endfor %}
                                        {% else %}
                                        {% for f in deleteRequestToTeam %}
                                                   {{ f }}
                                        {% endfor %}
                                        {% endif %}


                                        {% if delTeam %}
                                        <input class="btn btn-primary" type="submit" value="Zmaž tím" >
                                        {% else %}
                                        <input class="btn btn-primary" type="submit" value="Ukonči členstvo" >
                                        {% endif %}

                                    </form>

                                    </div>
                                        </td>
                                     <td>

                                    <div class="teams-buttons">
                                    <input class="btn btn-primary" type="button" value="Späť" onclick="window.location='/teams/{{ team.pk }}/';" >
                                    </div>

                                     </td>


                              </tr>
                            </tbody></table>
                        </center>


                </div>
            {% endif %}



         </div>


        <div id="right-sidebar">
             {% include "players/right-sidebar.html" %}
        </div>


    </div>
</div>

{% endblock %}