
<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                <li>
                    <a href="/homepage">Domov</a>
                </li>

                <li class="dropdown">
                  <a href="." data-toggle="dropdown" class="dropdown-toggle">
                    Podľa názvu <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/teams/teamsListSorted/name/">Vzostupne</a></li>
                    <li><a href="/teams/teamsListSorted/nameRev/">Zostupne</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="." data-toggle="dropdown" class="dropdown-toggle">
                    Podľa dátumu vzniku<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/teams/teamsListSorted/reg_date/">Vzostupne</a></li>
                    <li><a href="/teams/teamsListSorted/reg_dateRev/">Zostupne</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="." data-toggle="dropdown" class="dropdown-toggle">
                    Podľa počtu hráčov<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/teams/teamsListSorted/counts_of_players/">Vzostupne</a></li>
                    <li><a href="/teams/teamsListSorted/counts_of_playersRev/">Zostupne</a></li>
                  </ul>
                </li>
                <li><a href="/teams/findTeam/">Hľadaj tím</a></li>
</ul>