<script>
  $(function() {
    $( "#startDatepicker" ).datepicker({
      dateFormat: 'dd.mm.yy',
      changeMonth: true,
      changeYear: true,
      yearRange: "2010:2100"
    });
  });

   $(function() {
    $( "#loginDatepicker" ).datepicker({
      dateFormat: 'dd.mm.yy',
      changeMonth: true,
      changeYear: true,
      yearRange: "2010:2100"
    });
  });
</script>

<div class="content2">
    <div class="section"><h2>Vytvorenie novej akcie</h2></div>
<div class="well" xmlns="http://www.w3.org/1999/html">
    <form class="bs-example form-horizontal newEventForm" action="." method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
        <fieldset>
            {% csrf_token %}
            {% for f in form %}

                {% if f.field.widget.attrs.id == "startTimePicker" %}
                    <div class="col-lg-10-moj" style="width: 50%;">
                        {{ f }}
                    </div>
                {% else %}
                    {% if f.field.widget.attrs.id == "loginTimePicker" %}
                        <div class="col-lg-10-moj" style="width: 50%;">
                            {{ f }}
                        </div>
                    {% else %}
                        <label class="col-lg-2-moj control-label" for="id_{{ f.id }}">{{ f.label }} :</label>
                        <div class="col-lg-10-moj" style="width: 50%;">
                            {{ f }}
                        </div>
                    {% endif %}
                {% endif %}

                {% if f.field.widget.attrs.id == "" %}

                {% endif %}

                <!--{% if  f.field.widget.attrs.id  == "startDatepicker" %}
                    <input id="startDatepicker" placeholder="Čas" name="dateOfStart" type="text" />
                    <input id="id_timeOfStart" placeholder="Čas" name="timeOfStart" type="text" />
                {% else %}
                    {% if  f.field.widget.attrs.id  == "loginDatepicker" %}
                        <input id="loginDatepicker" placeholder="Čas" name="dateOfLogin" type="text" />
                        <input id="id_timeOfLogin" placeholder="Čas" name="timeOfLogin" type="text" />
                    {% else %}

                    {% endif %}
                {% endif %}
                -->
            {% endfor %}
            <input type="hidden" name="Latitude" id="formLat">
            <input type="hidden" name="Longitude" id="formLng">
            <input type="hidden" name="groundName" id="formGroundName">
        </fieldset>
    <legend style="margin-top: 20px;">
        Miesto
    </legend>
    {% include "event/newEventMap.html" %}
        <div id="mainpage-buttons-success">
            <input class="btn btn-primary" id="submit-edit-event" type="submit" value="Uložiť">
        </div>
        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong >
        </div>
    {% endfor %}
{% endif %}

    </form>
</div>
</div>