{% extends "base.html" %}

{% block content %}
<script>

$(document).on("click","#button",function(e){
     $.ajax({
        url: "{% url "mapTest" %}",
        type: "POST",
        data : {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        },
        success: function(data) {
            alert(data);
        },
        error: function() {
            alert ("Error");
        }
    });
});
</script>

{% csrf_token %}
<button id="button"> Mark Kosice </button>
<div id="maps"">
    {% include "event/newEventMap.html" %}
</div>

{% endblock %}