{% extends "base.html" %}

{% block content %}
<script>
function test() {
    $.ajax({
        url: "{% url "mapTest" %}",
        type: "POST",
        data : {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            title: "{{ event.title }}"
        },
        success: function(data) {
            alert (data);
        },
        error: function() {
            alert ("Error");
        }
    });
}

function success() {
    alert ("success");
}

function error() {
    alert ("error");
}

</script>
    {% csrf_token %}
    <button onclick="test()"> AJAX </button>

{% include "event/map.html" %}

{% endblock %}