<div id="events_tag">
   <h2> <a href="/events/">Najbližšie akcie</a></h2>
    <ul>
    {% for event in events %}
       <li>


            {% load thumbnail %}
           {% thumbnail event.titleImage "230x170" crop="center" as im %}
                <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}

        <div class="tag_event_info">
           <h3> <a href="/events/detail/{{ event.id }}">{{ event.title }}</a></h3>
            <div class="tag_event_desc">
                {{ event.prologue }}
            </div>
        </div>

       </li>
    {% endfor %}
    </ul>
    </div>