<div>
     {% if teams %}


        <dl>
        {% for team in teams %}
            <img src="/media/{{ team.team_logo }}" alt="/media/{{ team.team_logo }}"  width="50" height="50" >
            <dt><a href="/teams/{{ team.id }}/">{{ team.name }}</a></dt>
            <dd>- Registration date and time - {{ team.reg_date }}</dd>
            <dd>- Number of players - {{ team.counts_of_players }}</dd>
        {% endfor %}
        </dl>

    {% else %}

        <p>No teams are available.</p>

    {% endif %}
</div>


